@import @/global

.header
  width: 100%
  height: $headerHeight
  display: flex
  justify-content: space-between
  gap: 20px
  padding: 20px
  background: $background
  position: sticky
  top: 0
  margin-bottom: 10px
  transition-duration: 200ms
  z-index: 90
  &--scrolled
    border-bottom: 1px solid $stroke
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  &__nav
    display: flex
    gap: 2px
  &__logo
    font-size: 24px
    font-weight: 700
    color: black
  &__left
    display: flex
    gap: 20px
    align-items: center
  &__account
    display: flex
    gap: 10px
    align-items: center
    // TODO("Add shadow or border bottom when not on top")
