.header__button
  background: transparent
  border: none
  display: flex
  align-items: center
  padding: 5px 10px
  border-radius: 10px
  cursor: pointer
  gap: 5px
  &:hover
    background: #eee
  &--active
    @extend .header__button